[user]
    email = falcon4842@gmail.com
    name = yutaroyamanaka
[color]
    ui = auto
[alias]
  b=branch
    co = checkout
  cm=commit
  s=status
  pl=pull
  ps=push
  d=diff
  a=add
  g=log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)? %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
